@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.theme-dark {
	--bg-color:rgb(36, 53, 70);
	--pn-color: #f1f1f1;
	--scrollbar-color: #fff;
}

.theme-light{
	--bg-color: #f4f4f4;
	--pn-color: #d4d4d4;
	--scrollbar-color: rgb(36, 53, 70);
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
}

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--bg-color);
    overflow: hidden;
}

.main{
	margin-top: 56px;
	overflow-y: scroll;
	scrollbar-width:thin;
	scrollbar-color: var(--scrollbar-color) var(--bg-color);
	height: calc(100vh - 56px);
}

/* Navbar */

.menu{
	background-color: #324960;
	position:fixed;
  	left:0;
	right:0;
	top:0;
	z-index: 2;
	box-shadow: 0px 2px 10px rgba( 0, 0, 0, 0.2 );
	height: 56px;
}

/* Home link */

.home{
	font-family: Helvetica;
	position:relative;
	float:left;
	height: 56px;
  	margin-left: 60px;
	font-size:22px;
	font-weight:900;
	text-transform:uppercase;
}

.HomePage{
	color:#fff;
	text-decoration : none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.HomePage:hover{
	color:#df405a;
	text-decoration : none;
}

/* Toggle theme */

.container{
	position:relative;
	float: right;
	top: 50%;
	right: 10%;
	transform: translate(-50%, -50%);
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #fff;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}


/* Table Styles */

.table-wrapper{
    margin-top: 50px;
}

.table-wrapper a{
	color: black;
	text-decoration : none;
}

.table-wrapper a:hover{
	color: #df405a;
	font-weight: 500;
}

.lib-data {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 45%;
    background-color: white;
	margin-bottom: 100px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 25px 40px rgba( 0, 0, 0, 0.2 );
}

.lib-data td:nth-child(even) {
    text-align: left;
    padding: 8px;
}

.lib-data td:nth-child(odd) {
    text-align: center;
    padding: 8px;
	width: 10%;
}

.lib-data th {
    text-align: center;
    padding: 8px;
}

.lib-data thead th {
    color: #ffffff;
    background: #324960;
}


.lib-data thead th:nth-child(odd) {
    color: #ffffff;
    background: #df405a;
}

.lib-data tr:nth-child(even) {
    background: #F8F8F8;
}

.lib-data tr:hover{
	background-color: #ddd;
	border-right: 3px solid #df405a;
}


.page-navigation{
	width:45%;
	margin: auto;
	margin-top: -70px;
	margin-bottom: 100px;
	height: 40px;
}

.p-n-button{
	text-decoration : none;
	padding: 8px 16px;
	font-size: 14px;
	background-color: var(--pn-color);;
  	color: black;
}

.p-n-button:hover{
	color:#df405a;
	background-color: #324960;
}


.first-last-button{
	color:#fff;
	text-decoration : none;
	font-size: 14px;
	padding: 8px 16px;
	background-color: #324960;
}

.first-last-button:hover{
	background-color: #df405a;
	color: #324960
}

.left{
	float:left;
	margin-right: 8px;
}

.right{
	float:right;
	margin-left: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #df405a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #df405a transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
